<style>
    div#div_navigate_post{ display:none; }
</style>
        <!-- container_top -->
<div id="div_img_main2"  class="cover" style="" valign="bottom">
    <div id="div_img_layer">
        <h1>Harmoware: 人間機械協奏ライブラリ</h1>
    </div>
</div>
<div class="container" id="id_main_conte">

<div class="row conte" id="id_row_service" style="margin-top:10px;">
    <div class="col-sm-12" style="text-align:center;">
    <h2 class="h4_td_title">Harmowareのライブラリ群</h2>
    <hr class="hr_ex1"/>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/harmoware-vis.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-VIS</h3>
    <p>
    移動体を３次元マップ上に可視化するためのライブラリ・ツールです。node.js/npm を通じて簡単に利用できます。
 <br />
        <a href="/2019/01/24/Harmoware-VIS/" class="btn btn-default"> 詳細はこちら </a>
    </p>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/harmoware-hmi.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-HMI</h3>
    <p>
    自動運転プラットフォーム Autoware を音声や視線インタフェースを通じて利用するためのライブラリです。
        <br />
        <a href="/2019/01/24/Harmoware-HMI/" class="btn btn-default"> 詳細はこちら </a>
    </p>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/harmoware-bio.jpg" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-BIO</h3>
    <p>
     車両センサやメガネ、カメラなどから様々なデータ計測を行うためのライブラリです。
        <br />
        <a href="/2019/01/24/Harmoware-BIO/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/harmoware-dmi.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-DMI</h3>
    <p>
     ダイナミックマップシステムと自動運転ソフトウェアAutowareの間をつなぐソフトウェアライブラリです。
        <br />
        <a href="/2019/01/24/Harmoware-DMI/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/harmoware-sec.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-SEC</h3>
    <p>
        異常な通信を機械学習技術を用いて検知するためのソフトウェアライブラリです。
        <br />
        <a href="/2019/07/17/Harmoware-SEC/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep2.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-ECT</h3>
    <p>
        バッテリなどの性能を評価するための電気化学センシングデータを送信するツールです。
        <br />
        <a href="/2021/07/17/Harmoware-ECT/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-CARE</h3>
    <p>
        看護現場に関するデータ・コーパスです。
        <br />
        <a href="/2021/07/17/Harmoware-CARE/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep2.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-HBS</h3>
    <p>
        人の行動データやピッキングデータをMQTTで送信するためのツールです。
        <br />
        <a href="/2021/07/17/Harmoware-HBS/" class="btn btn-default"> 詳細はこちら </a><br />
        <br />   
    </p>
    </div>
</div>



<div class="row conte" style="margin-top:10px;">
    <div class="col-sm-12">
      <div id="div_news">
      <h2 class="h4_td_title" >新着の投稿</h2>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
      </div>
    </div>
</div>

</div>

